<table class="table table-hover">
  <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Hours charged</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.user.name %></td>
          <td><%= student.user.email %></td>
          <td> <%= total_hours_charged(student.user.task.
            where(status: "finished"))%> Hrs.</td>
          <td><%= link_to "show", student_path(student)%></td>
        </tr>
      <% end %>
</table>