<%= @teachers.each do |teacher|%>
  <div>
    <p>Name: <%= teacher.user.name %></p>
    <p>Professional ID: <%= teacher.professional_id %></p>
    <p>Gender: <%= teacher.gender %></p>
  </div>
<% end %>