<div>
  <% @tasks.each do |task|%>
    <div class="task-container">
      <h2> <%= task.name %> </h2>
      <p> Status: <%= task.status%> </p>
      <% if task.status == "ended" %>
        <p> Total time: <%= task.total_time %> </p>
        <% else %>
        <p> <%= format_start_hour(task.created_at) %> </p>
      <% end %>
    </div>
  <% end %>
</div>